
		<%= link_to  user do %>
		<div class='flex items-center justify-between flex-none m-2 border-2 border-black bg-cyan-400 h-42'>
				
				<img src="<%=user.photo%>" alt="Profile Picture"class="h-56 "/>
			<h1 class='text-4xl font-bold'><%=user.name %></h1>
			<div class='m-4 font-semibold place-self-end'>

			<p>No of posts: <%=user.posts_count || 0 %></p>
			</div>
		</div>

			<%end%>

