<p class='text-3xl font-bold text-center'>All Posts</p>

<%= render @user%>

<%= will_paginate @posts %>
<%= render partial:'posts/post', collection:@posts, locals: {show_comments:true} %>
<%= will_paginate @posts %>
